{% extends 'Hospital/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" id="appointment_form" enctype="multipart/form-data"
              action="{% url 'book-appointments' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Book Appointments</legend>
                {{ form| crispy }}
            </fieldset>
            <div class="form-group">
				<button class="btn btn-outline-info" type='submit'>Submit</button>
			</div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $("#id_staff, #id_date").change(function () {
            const staffId = $("#id_staff").val();
            const date = $("#id_date").val();

            if (date !== "" && staffId !== "") {
                $.ajax({
                    url: {% url 'search_timeslot' %},
                    data: {
                        'staff_id':staffId,
                        'date': date,
                    },
                    success: function (data) {
                        console.log(data)

                        let html_data = `<option value="">----------</option>`;
                        data.forEach(function (b) {
                            html_data += `<option value="${b}">${b}</option>`
                        });
                        console.log(html_data);
                        $('#id_timeslot').html(html_data);
                    },
                });
            }
            else{
                {#alert("Please enter both Staff and Date Details")#}
            }

        });
    </script>
{% endblock scripts %}

