{% extends 'Hospital/base.html' %}
{% load static %}
{% block title %}Appointment List{% endblock %}
{% block content %}
    {% if user.is_superuser %}
        <div class="container">
            <form class="form-inline my-2 my-lg-0" method="post" role="search" action="{% url 'view-rooms' %}">
                {% csrf_token %}
                <input type="search" class="form-control" id="view_room_form" placeholder="search here.." name="search">
                <button class="btn btn-outline-primary my-2 my-sm-0" id="medicine_form" type="submit">Search</button>
                <div class="optionsDiv ml-5">
                    Filter by Room-Type:
                    <select name="name" id="selectField">
                        <option value="All" selected>All</option>
                        <option value="General" >General</option>
                        <option value="Semi-Private" >Semi-Private</option>
                        <option value="Private" >Private</option>
                    </select>
                    <input type="submit" value="Filter">
                </div>
            </form>
            <br>
            <h2> Room List </h2>
            <div class="row">
              <div class="col-sm">
              <table class="table">
              <tr>
                <th>id</th>
                <th>Charge</th>
                <th>AC</th>
                <th>ICU</th>
                <th>Room Type</th>

                </tr>
                {% for rm in all_data %}
                  <tr>
                    <td>{{ rm.id }}</td>
                    <td>{{ rm.charge }}</td>
                    <td>{{ rm.AC }}</td>
                    <td>{{ rm.is_ICU }}</td>
                    <td>{{ rm.room_type }}</td>
                  </tr>
                {% empty %}
                    {% for rm in data %}
                      <tr>
                        <td>{{ rm.id }}</td>
                        <td>{{ rm.charge }}</td>
                        <td>{{ rm.AC }}</td>
                        <td>{{ rm.is_ICU }}</td>
                        <td>{{ rm.room_type }}</td>
                      </tr>
                    {% endfor %}
                {% endfor %}
              </table>
              </div>
            </div>
        </div>
    {% endif %}
{% endblock %}



{% block scripts %}
  <script>
    console.log('start')
    var availableTags = [ ];

    $.ajax({
        method:"GET",
        url:"{% url 'search_room' %}",
        success: function (response){
            console.log(response)
            startAutocomplete(response);
        }
    })
    function startAutocomplete(availableTags) {
        $("#view_room_form").autocomplete({
            source: availableTags
        });
    }
  </script>
{% endblock scripts %}