{% extends 'Hospital/base.html' %}
{% load static %}
{% block title %}Staff List{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-inline my-2 my-lg-0" method="post" role="search" action="{% url 'view-staff' %}">
            {% csrf_token %}
            <input type="search" class="form-control" id="view_staff_form" placeholder="search here.." name="search">
            <button class="btn btn-outline-primary my-2 my-sm-0" id="medicine_form" type="submit">Search</button>
            <div class="optionsDiv ml-5">
                Filter by Speciality:
                <select name="name" id="selectField">
                    <option value="All" selected>All</option>
                    {% for speciality in all_speciality %}
                        <option value="{{ speciality }}" >{{ speciality }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Filter">
            </div>
        </form>
        <br>
        <h2> Staff List </h2>
        <div class="row">
          <div class="col-sm">
          <table class="table">
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Speciality</th>
            <th>Salary</th>
            <th>Available</th>
            <th>Approved</th>


            </tr>
            {% for u in all_data %}
              <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.staff }}</td>
                <td>{{ u.speciality }}</td>
                <td>{{ u.salary }}</td>
                <td>{{ u.is_available }}</td>
                <td>{{ u.is_approve }}</td>
                <td> <a href="{% url 'update-staff-profile' u.id %}""><button type="button" class="btn btn-outline-secondary">Update</button></td>
                <td> <a href="{% url 'delete-profile' u.staff_id %}""><button type="button" class="btn btn-outline-danger">Delete</button></td>
              </tr>
            {% empty %}
                {% for u in data %}
                   <td>{{ u.id }}</td>
                    <td>{{ u.staff }}</td>
                    <td>{{ u.speciality }}</td>
                    <td>{{ u.salary }}</td>
                    <td>{{ u.is_available }}</td>
                    <td>{{ u.is_approve }}</td>
                    <td> <a href="{% url 'update-staff-profile' u.id %}""><button type="button" class="btn btn-outline-secondary">Update</button></td>
                    <td> <a href="{% url 'delete-profile' u.staff_id %}""><button type="button" class="btn btn-outline-danger">Delete</button></td>
                  </tr>
                {% endfor %}

            {% endfor %}
          </table>
          </div>
        </div>
    </div>
{% endblock %}



{% block scripts %}
  <script>
    console.log('start')
    var availableTags = [ ];

    $.ajax({
        method:"GET",
        url:"{% url 'search_staff' %}",
        success: function (response){
            console.log(response)
            startAutocomplete(response);
        }
    })
    function startAutocomplete(availableTags) {
        $("#view_staff_form").autocomplete({
            source: availableTags
        });
    }
  </script>
{% endblock scripts %}