{% extends 'Hospital/base.html' %}
{% load static %}
{% block title %}view feedback{% endblock %}
{% block content %}
    <div class="container">
        <h2> Feedback List </h2>
        <div class="row">
          <div class="col-sm">
          <table class="table">
          <tr>
            <th>id</th>
            <th>User</th>
            <th>Feedback</th>


            </tr>
            {% for f in feedback %}
              <tr>
                <td>{{ f.id }}</td>
                <td>{{ f.user }}</td>
                <td>{{ f.content }}</td>
              </tr>
            {% endfor %}
          </table>
          </div>
        </div>
    </div>
{% endblock %}
