{% extends 'Hospital/base.html' %}
{% block content %}
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">View Appointment</h5>
            <a href="{% url 'view-appointments' %}" class="btn btn-primary">View</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Feedback Form</h5>
            <a href="{% url 'feedback' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
    </div>
    <div class="card-deck" style="margin-top: 30px">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Patient Prescription</h5>
            <a href="{% url 'prescription' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">View/Update Prescription</h5>
            <a href="{% url 'view-prescription' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
    </div>
    <div class="card-deck" style="margin-top: 30px">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Add Medicine</h5>
            <a href="{% url 'add-medicine' %}" class="btn btn-primary">Add</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">View/Update Medicine</h5>
            <a href="{% url 'view-medicine' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
    </div>
{% endblock content %}

