{% extends 'Hospital/base.html' %}
{% block content %}
	<h1>Home Page</h1>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">BOOK APPOINTMENT</h5>
            <a href="{% url 'book-appointments' %}" class="btn btn-primary">Book</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">VIEW APPOINTMENT</h5>
            <a href="{% url 'view-appointments' %}" class="btn btn-primary">View</a>
          </div>
        </div>
    </div>
{% endblock content %}
